extends layout.pug

block content
		header
			nav(class="navbar navbar-toggleable-md navbar-light bg-faded")
				h1 
					a(href="/") Kira.GG
				button(class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
				//form(action="/summoner/data" method="post" class="form-inline")
				//	input(type="text" class="form-control" id="summoner_name" name="summoner_name" placeholder="Summoner Name")
				//	button(type="submit" class="btn btn-primary") Search
		main
			div(class="container")
				div(class="row summoner-info")
					div(class="summoner-container")
						div(class="summoner-icon")
							img(src="http://ddragon.leagueoflegends.com/cdn/8.4.1/img/profileicon/" + data.summoner.profileIconId + ".png" width=160 height=160)
					div(class="summoner-name")
						h2(title="Account ID=" + data.summoner.accountId) #{ data.summoner.name }
					div(class="summoner-level")
						h2 Level #{ data.summoner.summonerLevel }
				div(style="overflow-x:scroll;")
					table(class="table")
						thead
							th -
							- var n = 1
							- var keys = Object.keys(data.match_detail).sort().reverse();
							- var headers = ['Champion', 'W/L', 'Game Lenght', 'Kills', 'Deaths', 'Assists', 'Gold', 'CS', 'CS/Min', 'Wards Placed', 'Control Wards', 'Time Ago'];
							while n < matches + 1
								th= n++
						tbody
							each header, index_headers in headers
								tr
									each key, index_keys in keys
										if (index_keys < matches)	
											if (index_keys == 0)
												td #{ headers[index_headers] }
											- entry = data.match_detail[key]
											if (entry.participantIdentities !== undefined)
												each participantIdentity, j in entry.participantIdentities
													if participantIdentity.player.accountId == data.summoner.accountId
														case index_headers
															when 0
																td #{ champions.keys[entry.participants[j].championId]}
															when 1
																td #{ entry.participants[j].stats.win ? "W" : "L" }
															when 2
																td #{ Math.floor( entry.gameDuration / 60) }:#{ entry.gameDuration % 60}
															when 3
																td #{ entry.participants[j].stats.kills}
															when 4
																td #{ entry.participants[j].stats.deaths}
															when 5
																td #{ entry.participants[j].stats.assists}
															when 6
																td #{ entry.participants[j].stats.goldEarned}
															when 7
																td #{ entry.participants[j].stats.totalMinionsKilled + entry.participants[j].stats.neutralMinionsKilled}
															when 8
																td #{ ((entry.participants[j].stats.totalMinionsKilled + entry.participants[j].stats.neutralMinionsKilled) / (entry.gameDuration / 60)).toLocaleString(undefined, {maximumFractionDigits: 2 })}
															when 9
																td #{ entry.participants[j].stats.wardsPlaced}
															when 10
																td #{ entry.participants[j].stats.visionWardsBoughtInGame}
															when 11
																- var milliseconds = (new Date).getTime() - entry.gameCreation;
																if ((milliseconds / (1000 * 60 * 60)) < 1)
																	td Less than an hour
																else if (milliseconds / (1000 * 60 * 60 * 24) > 1)
																	td #{ Math.ceil(milliseconds / (1000 * 60 * 60 * 24)) } days ago
																else
																	td #{ Math.ceil(((new Date).getTime() - entry.gameCreation) / (1000 * 60 * 60)) } hours ago
											else
												td -